@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap");
html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cedbef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background: #cedbef;
  border-radius: 6px;
  z-index: 10;
}

::-webkit-scrollbar-track:hover {
  background: #cedbef;
  z-index: 10;
}

/* Links */
a {
  color: #013eb7; /* Default link color */
  text-decoration: none; /* Remove underlines from links */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}
/* @font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-SemiBold";
  src: local("Roboto-Black"),
    url("assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */
